/*.bg-image {
	background: url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
.center-block{
	padding-top: 60px;
	padding-bottom: 40px;
	width:80%;
	margin-left:10;
}

.row{
	margin-left: 15px;
	margin-right: 15px;
}

.fondo{
	height: 80vh;
}

#descripcion{
	color: rgb(255, 255, 255);
	margin-top: 70px;
	text-align: center;
	font-size: 18pt;
	padding: 20px;
}

#descripcion > b {
	color: rgb(255, 255, 255);
	margin-top: 70px;
	text-align: center;
	font-size: 24pt;
	padding: 5px;
} 

#imagenes {
	text-align: center;
	align-content: center;
	align-items: center;
	margin-left: 25%;
}