
<div class="row">
	<div>
		<p id="descripcion" >
			<b>CONVENIO No. 033-2017</b>
			<br><br>
			AUNAR ESFUERZOS ENTRE EL PA VISR Y LA UNIVERSIDAD DE NARIÑO
			PARA REALIZAR LA INTERVENTORIA TÉCNICA, ADMINISTRATIVA Y 
			FINANCIERA DE VIVIENDA DE INTERÉS SOCIAL RURAL PARA EL PROYECTO IPIALES 1
			EN EL DEPARTAMENTO DE NARIÑO PARA LAS COMUNIDADES INDIGENAS DE LOS PASTOS Y 
			QUILLASINGAS.  
		</p>
		
	</div>

	<div id="imagenes">
		<img class=" col-md-6 center-block" src="{{this.serviciog.servidor}}fiduagraria.png" style="height: 70%;
		width: 50%; ">
		<img class="col-md-6 center-block" src="{{this.serviciog.servidor}}udenar 1.png" style="height: 50%;
		width: 30%;">
	</div>
</div>

