<div class="container" style="background-color: #DEDCDD;">
	<!-- <h2>LISTA DE PROYECTOS</h2> -->
	<div class="row" style="margin-top: 30px">
		<div class="col-md-3"></div>
		<div class="col-md-6"> 
			<div class="input-group">
				<input class="form-control" type="text" #prj placeholder="Buscar..." (keyup)="btnSearchPrj(prj.value)">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" aria-label="Left Align" (click)="btnSearchPrj(prj.value)">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>

	<div class="scroll" style="overflow-y: auto; height: 75vh">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 50%" *ngIf="this.serviciog.usuario.tipo_usuario == 'sup'">Beneficiarios</th>
					<th style="width: 50%" *ngIf="this.serviciog.usuario.tipo_usuario != 'sup'">Proyecto</th>
					<th style="width: 25%"  *ngIf="this.serviciog.usuario.tipo_usuario == 'sup'">Resguardo</th>
					<th style="width: 25%">Porcentaje Ejecutado</th>
				</tr>
			</thead>
			<tbody>

				<tr *ngFor="let proyect of this.projectList" style="height: 30px;">
					<td>
						<p>{{proyect.nom_pro}}</p>
						<span>
							<p *ngIf="proyect.descripcion.indexOf('C.C') !== -1">{{proyect.descripcion}}</p>
						</span>
					</td>
					<td *ngIf="this.serviciog.usuario.tipo_usuario == 'sup'"><p>{{proyect.nom_padre}}</p></td>
					<td><p class="txt">{{proyect.porcentaje_cumplido}} % </p></td>
					<td *ngIf="!this.serviciog.activoSuspension || this.serviciog.usuario.id_usuario == '6'">
						<button class="btn btn-primary" (click)="entrar(proyect)" style=" background-color: orange">
							Entrar
						</button>
					</td>
					<td *ngIf="this.serviciog.activoSuspension === true && this.serviciog.usuario.id_usuario != '6'" 
					style='color:red;'>
					OBRA SUSPENDIDA: 
					{{this.serviciog.dias_suspension}} Dias
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
