<div style="margin-top: 51px; margin-right: 50px;">
	<div class="row" style="margin-top: 10px">
		<div class="col-md-3" style="background-color: rgb(50,50,50); margin-top: 5px">

			<div class="center-block row" style="margin-top: 5px">
				<div style="text-align: center;">
					<div *ngIf="this.serviciog.proyecto">
						<div *ngIf="this.serviGloAct.tipo2 == 'Proyecto'" class="titulo" (click)="tituloClick()" style="display: inline;"> Proyecto {{this.serviciog.titulo}}</div>
						<div *ngIf="this.serviGloAct.tipo2 != 'Proyecto'" class="titulo" (click)="tituloClick()" style="display: inline;">{{this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviGloAct.tipo2) - 1 ]}} {{this.serviciog.titulo}}</div>
					</div>
					<div *ngIf="!this.serviciog.proyecto">
						<div class="titulo" (click)="tituloClick()" style="display: inline;"> {{this.serviciog.recomendacion.tipo}} {{this.serviciog.titulo}}</div>
					</div>
				</div>

				<div class="row" style="position: relative;width: 20%;margin: auto;margin-left: 40%">
					<!-- <button *ngIf="this.serviciog.isSubActivity" class="btn btn1 btn-primary col-md-5" style="background-color: darkslategray;"
						 (click)="inicio()">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						</button> -->

						<!-- *ngIf="(this.serviciog.usuario.tipo_usuario !== 'sup' && this.serviciog.actividad.id_caracteristica_padre ||  this.serviciog.actividad.id_caracteristica_padre != 1) || (this.serviciog.usuario.tipo_usuario == 'sup' && this.serviciog.actividad.usuario_asignado != this.serviciog.usuario.id_usuario)" -->
					<button *ngIf=" this.serviciog.ax_actividad &&
					(
						(this.serviciog.usuario.tipo_usuario !== 'sup' && this.serviciog.ax_actividad.id_caracteristica_padre !== null) || 
						(this.serviciog.usuario.tipo_usuario === 'sup' && this.serviciog.ax_actividad.id_caracteristica !== undefined && this.serviciog.ax_actividad.usuario_asignado !== this.serviciog.usuario.id_usuario && this.serviciog.ax_actividad.tipo != 'Beneficiario')
					)" 
					 class="btn1 btn btn-primary  col-md-5" style="background-color: darkslategray;" (click)="regresar()">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					</button>

				</div>

			</div>
			<div style="background-color: rgb(153,191,78); margin: 10px 10px;margin-top: 8px; min-height: 82vh">

				<div style="margin: auto;">
					<div class="input-group">
						<input #act type="text" class="form-control" placeholder="Buscar...." (keyup)="btnSearchAct(act.value)">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" aria-label="Left Align" (click)="btnSearchAct(act.value)">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</div>


				<div class="listaActividades">
					<ul *ngIf="this.serviciog.actividades">
						<li *ngFor="let activity of this.serviciog.actividades" [class.selected]="activity === this.serviciog.actividad" (click)="onSelectActivity(activity)"
						 (dblclick)="entrarACtividad(activity)">
							<a>{{activity.tipo}} {{activity.nom_act}}</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- <div>
					<button class="btn btn-primary" *ngIf="this.serviciog.usuario.tipo_usuario !=='sup' && this.isTitleSelected" style=" margin: auto; display: block;"
					data-toggle="modal" data-target="#mod-reg-act"> Nuevo (a) {{this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviGloAct.tipo2)]}}
				   </button>
				   <button class="btn btn-primary" *ngIf="this.serviciog.usuario.tipo_usuario !=='sup' && !this.isTitleSelected" style=" margin: auto; display: block;"
					data-toggle="modal" data-target="#mod-reg-act">Nuevo (a) {{this.serviGloAct.tipo}}
				   </button>
				</div> -->
		</div>

		<div class="col-md-9" style="background-color: rgb(222,220,221);">
			<!-- Opciones del Menu -->
			<div class="menuActividades">
				<ul style="font-size: 12px">
					<li *ngIf="!this.serviciog.isSelAct" (click)="c0()" [class.itemSelected]="this.serviGloAct.actOpt===0">
						<a>Detalles Proyecto</a>
					</li>
					<!--	<li *ngIf="!this.serviciog.isSelAct" (click)="c7()" [class.itemSelected]="this.serviGloAct.actOpt===7"> <a>Categorias</a></li>-->
					<li (click)="c1()" *ngIf="this.serviciog.isSelAct" [class.itemSelected]="this.serviGloAct.actOpt===1">
						<a>Detalles {{this.serviciog.actividad.tipo}}</a>
					</li>
					<!-- <li  *ngIf="this.serviciog.actividad.estado !== 'Inicio'" (click)="c2()" *ngIf="this.serviciog.isSelAct && this.serviciog.actividad != this.serviciog.isSubActivity" [class.itemSelected]="this.serviGloAct.actOpt===2">
							<a>Lista {{this.serviGloAct.tipo}}</a>
						</li> -->
					<li *ngIf="this.serviciog.usuario.tipo_usuario !== 'sup' || this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null' && this.serviciog.actividad.tipo !== 'Actividad' && this.serviciog.actividad.tipo !== 'Capitulo'"
					 (click)="c3()" [class.itemSelected]="this.serviGloAct.actOpt===3">
						<a>Reporte</a>
					</li>
					<li *ngIf="this.serviciog.usuario.tipo_usuario !== 'sup' || this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null'" (click)="c4()"
					 [class.itemSelected]="this.serviGloAct.actOpt===4">
						<a>Multimedia</a>
					</li>
					<li *ngIf="this.serviciog.usuario.tipo_usuario !== 'sup' || this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null'" (click)="c5()"
					 [class.itemSelected]="this.serviGloAct.actOpt===5">
						<a>Estadisticas </a>
					</li>
					<!-- *ngIf="this.serviciog.isSelAct" -->
					<li *ngIf="this.serviciog.usuario.tipo_usuario !== 'sup' || this.serviciog.actividad.tipo !== 'Actividad' && this.serviciog.actividad.tipo !== 'Capitulo'"
					 (click)="c6()" [class.itemSelected]="this.serviGloAct.actOpt===6">
						<a>Mapa</a>
					</li>
					<!-- 
	
							<li (click)="c7()" [class.itemSelected]="this.serviGloAct.actOpt===7">
							<a>Categorias </a>
						</li>
						
						
						 <li (click)="c8()" [class.itemSelected]="this.serviGloAct.actOpt===8">
							<a>Porcentaje de subactividades</a>
						</li>
						-->
					<li *ngIf="this.serviciog.usuario.tipo_usuario !== 'sup' || this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null'" (click)="c9()"
					 [class.itemSelected]="this.serviGloAct.actOpt===9">
						<a>Recomendaciones</a>
					</li>
					<li *ngIf="this.serviciog.usuario.tipo_usuario !== 'sup' || this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null' && this.serviciog.actividad.tipo !== 'Actividad' && this.serviciog.actividad.tipo !== 'Capitulo'"
					 (click)="c10()" [class.itemSelected]="this.serviGloAct.actOpt===10">
						<a>Observaciones Supervisor</a>
					</li>

					<!--	
							<li (click)="c11()" [class.itemSelected]="this.serviGloAct.actOpt===11">
							<a>Novedades</a>
						</li>
							<li (click)="c8()" [class.itemSelected]="this.serviGloAct.actOpt===8"><a>Porcentajes</a></li> -->
				</ul>
			</div>

			<!-- Acciones de las opciones del Menu -->
			<div id="opt_act">

				<!-- Detalles - Pagina inicial de un proyecto padre -->

				<div *ngIf="this.serviGloAct.actOpt === 0">
					<div *ngIf="this.serviciog.proyecto.tipo_caracteristica === 'P'">

						<form #loginForm="ngForm" style="margin-right: 5%; margin-left: 5%;" enctype="multipart/form-data">
							<div class="form-group">

								<img width="450" height="300" class="imgPro" src='{{this.serviciog.servidor}}udenar 1.png' />

								<hr/>

								<label for="nombre" class="lab">Nombre 1</label>
								<input name="" type="text" id="nombre" class="form-control" name="nombres" readonly [(ngModel)]="this.serviciog.proyecto.nom_pro">

								<!-- <label for="descripción" class="lab">Descripción</label>
									<input name="" type="text" id="de" class="form-control" name="descripcion" readonly [(ngModel)]="this.serviciog.proyecto.descripcion"> -->


								<label for="tiempo_inicial" class="lab">Fecha de Inicio</label>
								<input name="" type="text" id="tiempo_ini" class="form-control" name="tiempo_ini" ng-reflect-model="a" readonly [(ngModel)]="this.serviciog.proyecto.fecha_inicio">
								<div *ngIf="this.serviciog.proyecto.fecha_fin != null">
									<label for="tiempo_fin" class="lab">Fecha Final</label>
									<input name="" type="text" id="tiempo_fin" class="form-control" name="tiempo_fin" ng-reflect-model="a" readonly [(ngModel)]="this.serviciog.proyecto.fecha_fin">
								</div>
								<!-- <label for="estado" class="lab">Etapa</label>
									<input name="" type="text" id="estado" class="form-control" name="estado" ng-reflect-model="a" readonly [(ngModel)]="this.serviciog.proyecto.estado"> -->
								<!-- <div *ngIf="this.serviciog.usuario.id_usuario == 6">
									Suspensión de Obra
									<br>
									<label class="switch">
										<input type="checkbox" (change)="toggleStop()">
										<span class="slider round"></span>
									</label>
								</div> -->
								<div *ngIf="this.toggleProyect">
									Fecha Finalización Suspensión de Obra.
									<input type="date" [(ngModel)]="this.datePause" (ngModelChange)="this.datePause = $event" #datepause/>
									<button class="btn btn-success" (click)="ClickPause(datepause.value)">Confirmar</button>
								</div>
							</div>
						</form>
					</div>
					<div *ngIf="this.serviciog.proyecto.tipo_caracteristica === 'A'">

						<!-- ============================================== Actividad  ====================================== -->
						<form #loginForm="ngForm" style="margin-right: 5%; margin-left: 5%;" enctype="multipart/form-data">
							<div class="form-group">
								<section style="height: 100vh">
									<div style="margin-top: 1px">
										<div>
											<label for="nombre" class="lab">{{this.serviciog.proyecto.tipo}}</label>
											<input *ngIf="this.serviciog.proyecto.nom_pro" name="" type="text" id="nombre" class="form-control" name="nombres" [readonly]="!this.isEditar"
											 [(ngModel)]="this.serviciog.proyecto.nom_pro">
											<input *ngIf="!this.serviciog.proyecto.nom_pro" name="" type="text" id="nombre" class="form-control" name="nombres" [readonly]="!this.isEditar"
											 [(ngModel)]="this.serviciog.titulo">
										</div>
										<div *ngIf="this.serviciog.proyecto.tipo === 'Beneficiario'">
											<label for="descripción" class="lab">Identificacion del Beneficiario</label>
											<input name="" type="text" id="ide_ben" class="form-control" name="identificacion_beneficiario" [readonly]="!this.isEditar"
											 [(ngModel)]="this.serviciog.proyecto.tipo_identificacion+'  '+this.serviciog.proyecto.cedula">
										</div>
										<!--<label for="descripción" class="lab">Descripción Actividad</label><input name="" type="text" id="de" class="form-control" name="descripcion"  [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.desc_act"  > -->
										<div *ngIf="this.serviciog.proyecto.tipo !== 'Proyecto'">
											<label *ngIf="!this.isTitleSelected " for="porcentaje" class="lab">Porcentaje de {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_pro}} frente a {{this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviciog.proyecto.tipo)
												- 1]}} </label>
											<label *ngIf="this.isTitleSelected " for="porcentaje" class="lab">Porcentaje de {{this.serviciog.proyecto.nom_pro}} frente a {{this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviciog.proyecto.tipo)
												- 1]}} {{this.serviciog.tree_name[this.serviciog.tree_name.length - 2]}} </label>
											<input name="" type="text" id="porcentaje" class="form-control" name="porcentaje" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.proyecto.porcentaje">
										</div>
										<!--<label for="porcentaje_asignado" class="lab">Porcentaje Asignado A Otras Actividades</label><input name="" type="text" id="porcentaje_asignado" class="form-control" name="porcentaje_asignado" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.porcentaje_asignado" >-->
										<div *ngIf="this.serviciog.proyecto.fecha_inicio !== null">
											<label for="tiempo_inicial" class="lab">Fecha de Inicio</label>
											<!-- <input name="" type="text" id="tiempo_ini" class="form-control" name="tiempo_ini" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.proyecto.fecha_inicio"> -->
											<label id="tiempo_ini" class="form-control">{{this.serviciog.proyecto.fecha_inicio | date:'fullDate' | uppercase}}</label>
										</div>
										<div *ngIf="this.serviciog.proyecto.fecha_fin != null">
											<label for="tiempo_fin" class="lab">Fecha Final</label>
											<!-- <input name="" type="text" id="tiempo_fin" class="form-control" name="tiempo_fin" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.proyecto.fecha_fin"> -->
											<label id="tiempo_fin" class="form-control" name="tiempo_fin">{{this.serviciog.proyecto.fecha_fin  | date:'fullDate' | uppercase}}</label>
										</div>
										<div *ngIf="this.serviciog.proyecto.tipo !== 'Beneficiario' && 
												this.serviciog.proyecto.tipo !== 'Capitulo' &&
												this.serviciog.proyecto.tipo !== 'Actividad'">
											<label for="tiempo_fin" class="lab">Beneficiarios {{this.serviciog.proyecto.tipo}}</label>
											<input name="" type="text" id="tot_ben" class="form-control" name="tot_ben" [readonly]="true" [(ngModel)]="this.serviciog.total_beneficiary">
										</div>
									</div>
									<hr>
									<div>
										<!-- PORCENTAJES -->
										<div *ngIf="this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null'">
											<div>
												<label style="margin-top: 2px" for="porcentaje_real" class="lab">Porcentaje Programado {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_act}}</label>
												<div>
													<label class="form-control" name="porcentaje_real">{{this.serviciog.porcentaje_real}} %</label>
												</div>
											</div>

											<div *ngIf="this.serviciog.proyecto.tipo != 'Actividad'">
												<label style="margin-top: 2px" for="porcentaje_cumplido" class="lab">Porcentaje Real Ejecutado {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_pro}} </label>
												<div>
													<label class="form-control" name="porcentaje_cumplido">{{this.serviciog.proyecto.porcentaje_cumplido}} %</label>
												</div>
											</div>

											<div *ngIf="this.serviciog.proyecto.tipo != 'Actividad'">
												<label style="margin-top: 2px" for="porcentaje_cumplido" class="lab">Diferencia Porcentaje Programado VS Ejecutado </label>
												<label class="form-control" name="porcentaje_cumplido" style="color: rgb(209, 3, 3)">
													{{ this.serviciog.porcentaje_real - this.serviciog.proyecto.porcentaje_cumplido }} %
												</label>

											</div>

											<div *ngIf="this.serviciog.proyecto.tipo !== 'Actividad'">
												<div style="height: 400px; width: 700px" class="center-block">
													<div style="display: block; " class="center-block">
														<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
														 [colors]="lineChartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
													</div>
													<br><br>
												</div>
											</div>
										</div>
										
										<!-- VALORES -->
										<div style="margin-top: 100px">
											<br><br>
											<div>
												<label for="tiempo_inicial" class="lab">Valor Asignado {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_act}} </label>
												<label class="form-control" name="costo_real">{{(this.serviciog.proyecto.costo_real | currency:'COP':true).replace('COP','$ ')}}</label>
											</div>
											<!-- valor programado -->
											<div>
												<label for="tiempo_inicial" class="lab">Valor Programado de {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_act}} </label>
												<label class="form-control" name="costo_real">{{(this.costo_programado | currency:'COP':true).replace('COP','$ ')}}</label>
											</div>
											<!-- ........... -->
											<!-- <input type="text" class="form-control" name="costo_real" [readonly]="true" [(ngModel)]="this.serviciog.actividad.costo_real"> -->
											<div>
												<label for="tiempo_inicial" class="lab">Valor Real Ejecutado {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_act}}</label>
												<label class="form-control" name="costo_inicial">{{(this.serviciog.proyecto.costo_actual | currency:'COP':true).replace('COP','$ ')}}</label>
											</div>
											<div>
												<label for="tiempo_inicial" class="lab">Diferencia Valor Programado VS Ejecutado</label>
												<label class="form-control" name="costo_inicial" style="color: rgb(209, 3, 3)">{{ ((this.serviciog.proyecto.costo_real - this.serviciog.proyecto.costo_actual) | currency : 'COP' : true).replace('COP','$
													') }}</label>
											</div>
											<!-- <input type="text" [readonly]="true" [(ngModel)]="this.serviciog.actividad.costo_actual"> -->
										</div>

									</div>
								</section>

								<br>
								<hr>
								<br>
								<!--<label for="estado" class="lab">Etapa</label><input type="text" id="estado" class="form-control" name="estado"  [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.estado" > -->

								<!-- <div *ngIf="this.serviciog.actividad.tipo == 'Resguardo'" style="padding: 1px" class="form-inline form">
											<label class="form-control" for="etapa" class="lab form-inline">Total de beneficiarios :</label>
											<div class="form-control" style="margin-left: 4px;width: 300px">{{this.serviciog.actividades.length}} </div>
										</div> -->

								<div class="form-inline" style="margin-top: 100px;margin-left: 0px">
									<div *ngIf="this.serviciog.proyecto.tipo == 'Beneficiario'" class="form-inline " style="padding: 1px">
										<label for="etapa" class="lab">Etapa: </label>
										<select #selEtapa id="etapa" class="form-control" name="etapa" style="width: 300px;margin-left: 13px;" (mouseup)='changeEtapa(selEtapa.value,"A")'
										 required>
										 	<option *ngIf="this.serviciog.actividad.estado == 'null'" [selected]="this.serviciog.proyecto.estado == 'null'" value="null">
												Seleccione una Etapa
											</option>
											<option *ngIf="this.serviciog.actividad.estado == 'null' || this.serviciog.actividad.estado == 'Inicio' " [selected]="this.serviciog.proyecto.estado == 'Inicio'" value="Inicio">
												Habilitado
											</option>
											<option *ngIf="this.serviciog.actividad.estado == 'Inicio' ||this.serviciog.actividad.estado == 'Entrega de materiales' "
											 [selected]="this.serviciog.proyecto.estado == 'Entrega de materiales'" value="Entrega de materiales">
												Entrega de materiales
											</option>
											<option *ngIf="this.serviciog.actividad.estado == 'Entrega de materiales'  ||this.serviciog.actividad.estado == 'Ejecucion de obra' "
											 [selected]="this.serviciog.proyecto.estado == 'Ejecucion de obra'" value="Ejecucion de obra">
												Ejecucion de obra
											</option>
											<option *ngIf="this.serviciog.actividad.estado == 'Ejecucion de obra' || this.serviciog.actividad.estado == 'Liquidacion'"
											 [selected]="this.serviciog.proyecto.estado == 'Liquidacion'" value="Liquidacion">
												Liquidacion
											</option>
										</select>
									</div>
									<div *ngIf="this.serviciog.proyecto.nombre_cat && this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null'" style="padding: 1px" class="form-inline form">
										<label class="form-control" for="etapa" class="lab form-inline">Estado: </label>
										<div class="form-control" style="margin-left: 4px;width: 300px">{{this.serviciog.proyecto.nombre_cat}} </div>
										<div class="form-control" id="cld" [style.background-color]='this.serviciog.proyecto.color_cat' style="height:30px;width:50px"></div>
									</div>
									<br>
									<div *ngIf="this.serviciog.proyecto.tipo !== 'Beneficiario' && this.serviciog.proyecto.tipo !== 'Capitulo' && this.serviciog.proyecto.tipo !== 'Actividad'"
									 style="height: 420px;width: 600px;margin-top: 20px" class="form-inline form">
										<!--  Grafica del total de beneficiarios por categoria  -->
										<div style="margin-top: 300px">
											<app-chart-component></app-chart-component>
										</div>
									</div>
								</div>
								<br/>
								<!-- <div>
										<button class="btn btn-success" *ngIf="this.isEditar" (click)="actualizarActividad(this.serviciog.actividad)">Guardar</button>
										<button class="btn btn-primary" *ngIf="!this.isEditar && this.flg " (click)="editarClick(this.serviciog.actividad)">Editar</button>
									</div> -->
							</div>
						</form>
						<div *ngIf="this.serviciog.proyecto.tipo == 'Actividad' && this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null' && this.serviciog.usuario.tipo_usuario =='sup'"
						 style="position: relative;width: 90%;margin: auto;margin-top: 5px">
							<label style="margin-top: 2px" for="porcentaje_cumplido" class="lab">Porcentaje Real Ejecutado {{this.serviciog.proyecto.tipo}} {{this.serviciog.proyecto.nom_act}} </label>
							<div style="position: relative;margin: auto">
								<p style="display: inline-block;">0% </p>

								<input #slide style="width: 450px;display: inline-block;" id="slider2" type="range" min="0" max="100" step="1" value="{{this.serviciog.proyecto.porcentaje_cumplido}}"
								 [(ngModel)]="this.serviciog.proyecto.porcentaje_cumplido" (mouseup)="slideValue(this.serviciog.proyecto,slide.value)"
								/>

								<p style="display: inline-block;">100% </p>

								<input style="display: inline-block;margin-left: 40px;text-align: center;" type="number" name="slider" value="{{this.serviciog.proyecto.porcentaje_cumplido}}"
								 [(ngModel)]="this.serviciog.proyecto.porcentaje_cumplido" max="100" min="0" (keyup)="slideValue(this.serviciog.proyecto,slide.value)"
								 (mouseup)="slideValue(this.serviciog.proyecto,slide.value)"> % Ejecutado
							</div>
						</div>
						<!-- this.serviciog.usuario.tipo_usuario != 'sup' ||  -->
						<!-- Asignar usuario -->
						<!-- <div *ngIf="this.serviciog.proyecto.tipo == 'Resguardo' || this.serviciog.proyecto.tipo == 'Beneficiario'" style="width: 80%;margin-left: 10%;margin-top: 10px">
								<label for="Usuario" class="lab">{{this.serviciog.proyecto.cargo}}</label>
								<div (click)="getUsers()" [attr.data-toggle]="this.flg  ? 'modal' : null " data-target="#mod-list-usu" style="display: block; height: 100px; width: 100%; margin: auto; background-color: rgb(36,36,36); border:1px solid rgb(87,87,87)">
									<div class="row">
										<div class="col-md-3">
											<img src=" assets/img/manprofile.png" style="width: 85px;height: 85px; margin-left: 7px; margin-top: 7px;">
										</div>
										<div class="col-md-9">
											<div style="color: rgb(245,245,245);     text-decoration: underline;   text-transform: uppercase; font-weight: bold;">
												{{this.serviciog.proyecto.usr_nom}} {{this.serviciog.proyecto.usr_ape}}
											</div>
											<div style="color: rgb(209,209,209);font-style: italic;">
												{{this.serviciog.proyecto.e_mail}}
											</div>
											<div style="color: rgb(209,209,209);">
												{{this.serviciog.proyecto.cargo}}
											</div>
										</div>
									</div>
								</div>
							</div> -->
					</div>
				</div>

				<!-- Detalles - Muestra informacion detallada del proyecto interno o actividad seleccionada -->
				<div *ngIf="this.serviGloAct.actOpt === 1">
					<form #loginForm="ngForm" style="margin-right: 5%; margin-left: 5%;" enctype="multipart/form-data">
						<div class="form-group">
							<section style="height: 100vh">
								<div style="margin-top: 1px">
									<div>
										<label for="nombre" class="lab">{{this.serviciog.actividad.tipo}}</label>
										<input *ngIf="this.serviciog.actividad.nom_act" name="" type="text" id="nombre" class="form-control" name="nombres" [readonly]="!this.isEditar"
										 [(ngModel)]="this.serviciog.actividad.nom_act">
										<input *ngIf="!this.serviciog.actividad.nom_act" name="" type="text" id="nombre" class="form-control" name="nombres" [readonly]="!this.isEditar"
										 [(ngModel)]="this.serviciog.titulo">
									</div>
									<div *ngIf="this.serviciog.actividad.tipo === 'Beneficiario'">
										<label for="descripción" class="lab">Identificacion del Beneficiario</label>
										<input name="" type="text" id="ide_ben" class="form-control" name="identificacion_beneficiario" [readonly]="!this.isEditar"
										 [(ngModel)]="this.serviciog.actividad.tipo_identificacion+'  '+this.serviciog.actividad.cedula">
									</div>
									<!--<label for="descripción" class="lab">Descripción Actividad</label><input name="" type="text" id="de" class="form-control" name="descripcion"  [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.desc_act"  > -->
									<div *ngIf="this.serviciog.actividad.tipo !== 'Proyecto'">
										<label *ngIf="!this.isTitleSelected " for="porcentaje" class="lab">Porcentaje de {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}} frente a {{this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviciog.actividad.tipo)
											- 1]}} {{this.serviciog.titulo}} </label>
										<label *ngIf="this.isTitleSelected " for="porcentaje" class="lab">Porcentaje de {{this.serviciog.actividad.nom_act}} frente a {{this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviciog.actividad.tipo)
											- 1]}} {{this.serviciog.tree_name[this.serviciog.tree_name.length - 2]}} </label>
										<input name="" type="text" id="porcentaje" class="form-control" name="porcentaje" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.porcentaje">
									</div>
									<!--<label for="porcentaje_asignado" class="lab">Porcentaje Asignado A Otras Actividades</label><input name="" type="text" id="porcentaje_asignado" class="form-control" name="porcentaje_asignado" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.porcentaje_asignado" >-->
									<div *ngIf="this.serviciog.proyecto.fecha_inicio !== null">
										<label for="tiempo_inicial" class="lab">Fecha de Inicio</label>
										<!-- <input name="" type="text" id="tiempo_ini" class="form-control" name="tiempo_ini" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.fecha_inicio"> -->
										<label id="tiempo_ini" class="form-control">{{this.serviciog.actividad.fecha_inicio | date:'fullDate' | uppercase}}</label>
									</div>
									<div *ngIf="this.serviciog.actividad.fecha_fin != null">
										<label for="tiempo_fin" class="lab">Fecha Final</label>
										<!-- <input name="" type="text" id="tiempo_fin" class="form-control" name="tiempo_fin" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.fecha_fin"> -->
										<label id="tiempo_fin" class="form-control" name="tiempo_fin">{{this.serviciog.actividad.fecha_fin | date:'fullDate' | uppercase }}</label>
									</div>
									<div *ngIf="this.serviciog.actividad.tipo !== 'Beneficiario' && 
											this.serviciog.actividad.tipo !== 'Capitulo' &&
											this.serviciog.actividad.tipo !== 'Actividad'">
										<label for="tiempo_fin" class="lab">Beneficiarios {{this.serviciog.actividad.tipo}}</label>
										<input name="" type="text" id="tot_ben" class="form-control" name="tot_ben" [readonly]="true" [(ngModel)]="this.serviciog.total_beneficiary">
									</div>
								</div>
								
								<div>
									<!-- PORCENTAJES   *ngIf="this.serviciog.actividad.estado !== 'Inicio'"  -->
									<div >
										<div>
											<label style="margin-top: 2px" for="porcentaje_real" class="lab">Porcentaje Programado {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}}</label>
											<div>
												<label class="form-control" name="porcentaje_real">{{this.serviciog.porcentaje_real}} %</label>
											</div>
										</div>

										<div *ngIf="this.serviciog.actividad.tipo != 'Actividad'">
											<label style="margin-top: 2px" for="porcentaje_cumplido" class="lab">Porcentaje Real Ejecutado {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}} </label>
											<div>
												<label class="form-control" name="porcentaje_cumplido">{{this.serviciog.actividad.porcentaje_cumplido}} %</label>
											</div>
										</div>

										<div *ngIf="this.serviciog.actividad.tipo != 'Actividad' ">
											<label style="margin-top: 2px" for="porcentaje_cumplido" class="lab">Diferencia Porcentaje Programado VS Ejecutado </label>
											<label class="form-control" name="porcentaje_cumplido" style="color: rgb(209, 3, 3)">
												{{ this.serviciog.porcentaje_real - this.serviciog.actividad.porcentaje_cumplido }} %
											</label>

										</div>

										<div *ngIf="this.serviciog.actividad.tipo !== 'Actividad'">
											<div style="height: 300px; width: 700px" class="center-block">
												<div style="display: block; " class="center-block">
													<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
													 [colors]="lineChartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
												</div>
											</div>
										</div>

									</div>
									
									<!-- VALORES -->
									<div style="position: relative;margin-top: 200px">
										<br>
										<!-- valor real  -->
										<div>
											<label for="tiempo_inicial" class="lab">Valor Asignado {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}} </label>
											<label class="form-control" name="costo_real">{{(this.serviciog.actividad.costo_real | currency:'COP':true).replace('COP','$ ')}}</label>
										</div>
										<!-- valor programado -->
										<div>
											<label for="tiempo_inicial" class="lab">Valor Programado de {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}} </label>
											<label class="form-control" name="costo_real">{{(this.costo_programado | currency:'COP':true).replace('COP','$ ')}}</label>
										</div>
										<!-- ................... -->
										<!-- <input type="text" class="form-control" name="costo_real" [readonly]="true" [(ngModel)]="this.serviciog.actividad.costo_real"> -->
										<div>
											<label for="tiempo_inicial" class="lab">Valor Real Ejecutado {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}}</label>
											<label class="form-control" name="costo_inicial">{{(this.serviciog.actividad.costo_actual | currency:'COP':true).replace('COP','$ ')}}</label>
										</div>
										<div>
											<label for="tiempo_inicial" class="lab">Diferencia Valor Programado VS Ejecutado</label>
											<label class="form-control" name="costo_inicial" style="color: rgb(209, 3, 3)">{{ ((this.serviciog.actividad.costo_real - this.serviciog.actividad.costo_actual) | currency : 'COP' : true).replace('COP','$
												') }}</label>
										</div>
										<!-- <input type="text" [readonly]="true" [(ngModel)]="this.serviciog.actividad.costo_actual"> -->
									</div>

								</div>
							</section>

							<br>
							<hr>
							<br>
							<!--<label for="estado" class="lab">Etapa</label><input type="text" id="estado" class="form-control" name="estado"  [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.estado" > -->

							<!-- <div *ngIf="this.serviciog.actividad.tipo == 'Resguardo'" style="padding: 1px" class="form-inline form">
										<label class="form-control" for="etapa" class="lab form-inline">Total de beneficiarios :</label>
										<div class="form-control" style="margin-left: 4px;width: 300px">{{this.serviciog.actividades.length}} </div>
									</div> -->

							<div class="form-inline" style="position: relative;margin-left: 0px; margin-top: 150px">
								<div *ngIf="this.serviciog.actividad.tipo == 'Beneficiario' " class="form-inline " style="padding: 1px">
									<label for="etapa" class="lab form-inline">Etapa: </label>
									<select #selEtapa id="etapa" class="form-control" name="etapa" style="width: 300px;margin-left: 13px;" (mouseup)='changeEtapa(selEtapa.value,"A")'
									 required>
										<option *ngIf="this.serviciog.actividad.estado == 'Inicio'" [selected]="this.serviciog.actividad.estado == 'Inicio'" value="Inicio">
											Habilitado
										</option>
										<option *ngIf="this.serviciog.actividad.estado == 'Inicio' ||this.serviciog.actividad.estado == 'Entrega de materiales'"
										 [selected]="this.serviciog.actividad.estado == 'Entrega de materiales'" value="Entrega de materiales">
											Entrega de materiales
										</option>
										<option *ngIf="this.serviciog.actividad.estado == 'Inicio' ||this.serviciog.actividad.estado == 'Entrega de materiales'  ||this.serviciog.actividad.estado == 'Ejecucion de obra' "
										 [selected]="this.serviciog.actividad.estado == 'Ejecucion de obra'" value="Ejecucion de obra">
											Ejecucion de obra
										</option>
										<option *ngIf="this.serviciog.actividad.estado == 'Inicio' ||this.serviciog.actividad.estado == 'Entrega de materiales'  ||this.serviciog.actividad.estado == 'Ejecucion de obra' || this.serviciog.actividad.estado == 'Liquidacion'"
										 [selected]="this.serviciog.actividad.estado == 'Liquidacion'" value="Liquidacion">
											Liquidacion
										</option>
									</select>
								</div>
								<div *ngIf="this.serviciog.actividad.nombre_cat && this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null'" style="padding: 1px" class="form-inline form">
									<label class="form-control" class="lab form-inline">Estado: </label>
									<div class="form-control" style="margin-left: 4px;width: 300px">{{this.serviciog.actividad.nombre_cat}} </div>
									<div class="form-control" id="cld" [style.background-color]='this.serviciog.actividad.color_cat' style="height:30px;width:50px"></div>
									<br><br>
								</div>
								
								<div *ngIf="this.serviciog.actividad.tipo !== 'Beneficiario' && this.serviciog.actividad.tipo !== 'Capitulo' && this.serviciog.actividad.tipo !== 'Actividad'"
								 style="height: 420px;width: 600px" class="form-inline form">
									<!--  Grafica del total de beneficiarios por categoria  -->
									<div style="margin-top: 350px">
										<app-chart-component></app-chart-component>
									</div>
								</div>
							</div>
							<br/>
							<!-- <div>
									<button class="btn btn-success" *ngIf="this.isEditar" (click)="actualizarActividad(this.serviciog.actividad)">Guardar</button>
									<button class="btn btn-primary" *ngIf="!this.isEditar && this.flg " (click)="editarClick(this.serviciog.actividad)">Editar</button>
								</div> -->
						</div>
					</form>
					<!--  -->
					<div *ngIf="this.serviciog.actividad.tipo == 'Actividad' && this.serviciog.actividad.estado !== 'Inicio' && this.serviciog.actividad.estado !== 'null' && this.serviciog.usuario.tipo_usuario =='sup'"
					 style="position: relative;width: 90%;margin: auto;margin-top: 15px">
						<label style="margin-top: 2px" for="porcentaje_cumplido" class="lab">Porcentaje Real Ejecutado {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}} </label>
						<div style="position: relative;margin: auto">
							<p style="display: inline-block;">0% </p>

							<input #slide style="width: 450px;display: inline-block;" id="slider2" type="range" min="0" max="100" step="1" value="{{this.serviciog.actividad.porcentaje_cumplido}}"
							 [(ngModel)]="this.serviciog.actividad.porcentaje_cumplido" (mouseup)="slideValue(this.serviciog.actividad,slide.value)"
							/>

							<p style="display: inline-block;">100% </p>

							<input style="display: inline-block;margin-left: 40px;text-align: center;" type="number" name="slider" value="{{this.serviciog.actividad.porcentaje_cumplido}}"
							 [(ngModel)]="this.serviciog.actividad.porcentaje_cumplido" max="100" min="0" (keyup)="slideValue(this.serviciog.actividad,slide.value)"
							 (mouseup)="slideValue(this.serviciog.actividad,slide.value)"> % Ejecutado
						</div>
					</div>
					<!-- this.serviciog.usuario.tipo_usuario != 'sup' ||  -->
					<!-- Asignar usuario -->
					<div *ngIf="this.serviciog.actividad.tipo == 'Resguardo' || this.serviciog.actividad.tipo == 'Beneficiario'" style="width: 80%;margin-left: 10%;margin-top: 500px">
						<label for="Usuario" class="lab">{{this.serviciog.actividad.cargo}}</label>
						<div (click)="getUsers()" [attr.data-toggle]="this.flg  ? 'modal' : null " data-target="#mod-list-usu" style="display: block; height: 100px; width: 100%; margin: auto; background-color: rgb(36,36,36); border:1px solid rgb(87,87,87)">
							<div class="row">
								<div class="col-md-3">
									<img src=" assets/img/manprofile.png" style="width: 85px;height: 85px; margin-left: 7px; margin-top: 7px;">
								</div>
								<div class="col-md-9">
									<div style="color: rgb(245,245,245);     text-decoration: underline;   text-transform: uppercase; font-weight: bold;">
										{{this.serviciog.actividad.usr_nom}} {{this.serviciog.actividad.usr_ape}}
									</div>
									<div style="color: rgb(209,209,209);font-style: italic;">
										{{this.serviciog.actividad.e_mail}}
									</div>
									<div style="color: rgb(209,209,209);">
										{{this.serviciog.actividad.cargo}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>

				<!-- Lista  -  Lista de actividades => cambia nombre segun proyecto municipios resguardos beneficiario etc. -->
				<div *ngIf="this.serviGloAct.actOpt === 2">
					<activity-table></activity-table>
				</div>

				<!-- Reporte  -->
				<div *ngIf="this.serviGloAct.actOpt === 3">
					<!-- Seccion para reportes  -->
					<!-- <embed  src="http://knower.udenar.edu.co/imgSTT/CONVENIO.pdf" style="width: 100%; min-height:80vh;" fullframe /> -->

					<app-report *ngIf="this.serviciog.actividad" [observaciones]='this.serviGloAct.observaciones' [color]='this.serviciog.actividad.color_cat'
					 [etapa]='this.serviciog.actividad.estado' [estado]='this.serviciog.actividad.nombre_cat' [isTitleSelected]='this.isTsitleSelected'
					 [doughnutChartData]='barChartData' [doughnutChartLabels]='barChartLabels' [doughnutChartType]='barChartType' [nombre]='this.serviciog.actividad.nom_act.toUpperCase()'
					 [tipo]='this.serviciog.actividad.tipo.toUpperCase()' [cedula]='this.serviciog.actividad.cedula' [feciniobr]='this.serviciog.actividad.fecha_inicio'
					 [porcejec]='this.serviciog.actividad.porcentaje_cumplido' [firmaEla]='' [nombreEla]='' [cargoEla]='' [firmaApr]='' [nombreApr]=''
					 [cargoApr]='' [provincia]='this.serviciog.tree_name[2]' [municipio]='this.serviciog.tree_name[3]' [resguardo]='this.serviciog.tree_name[4]'
					 [beneficiario]='this.serviciog.actividad.nom_act'></app-report>

					<app-report *ngIf="!this.serviciog.actividad" [observaciones]='this.serviGloAct.observaciones' [color]='this.serviciog.proyecto.color_cat'
					 [etapa]='this.serviciog.proyecto.estado' [estado]='this.serviciog.proyecto.nombre_cat' [isTitleSelected]='this.isTsitleSelected'
					 [doughnutChartData]='doughnutChartData' [doughnutChartLabels]='doughnutChartLabels' [doughnutChartType]='doughnutChartType'
					 [nombre]='this.serviciog.proyecto.beneficiario' [tipo]='this.serviciog.proyecto.tipo' [cedula]='this.serviciog.proyecto.cedula'
					 [feciniobr]='this.serviciog.proyecto.fecha_inicio' [porcejec]='this.serviciog.proyecto.porcentaje_cumplido' [firmaEla]=''
					 [nombreEla]='' [cargoEla]='' [firmaApr]='' [nombreApr]='' [cargoApr]='' [provincia]='this.listTypes[1]' [municipio]='this.listTypes[2]'
					 [resguardo]='this.listTypes[3]' [beneficiario]='this.serviciog.proyecto.beneficiario'></app-report>

				</div>

				<!-- Multimedia  -->
				<div *ngIf="this.serviGloAct.actOpt === 4">
					<multimedia></multimedia>
				</div>

				<!-- Estadisticas - Diagramas Charts -->
				<div *ngIf="this.serviGloAct.actOpt === 5">
					<label class="form-control" for="etapa" class="lab form-inline center-block" style="font-size: 35px;text-align: center;margin-top: 33px">RESUMEN AVANCE</label>


					<div style="display: block; height: 552px; width: 900px" class="center-block">
						<canvas baseChart [datasets]="barChartData" [colors]="lineChartColors" [labels]="barChartLabels" [options]="barChartOptions"
						 [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
					</div>
					<!-- aqui -->
					<!-- tabla -->
					<div style="width: 80%;" class="center-block" *ngIf="
						this.serviciog.actividad.tipo == 'Proyecto' ||
						this.serviciog.actividad.tipo == 'Provincia' ||
						this.serviciog.actividad.tipo == 'Municipio' ||
						this.serviciog.actividad.tipo == 'Resguardo' 
						">
						<h1 class="center-block" style="text-align: center">INFORME FINANCIERO</h1>
						<div>
							<table class="tg" width="100%">
								<tr>
									<th class="tg-qn5d">Rango Beneficiarios
										<br>segun porcentaje cumplido
										<br>
									</th>
									<th class="tg-qn5d">Numero de
										<br>Beneficiarios
										<br>
									</th>

									<th class="tg-qn5d">Porcentaje con respecto a
										<br>{{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}}

										<br>
									</th>
									<th class="tg-qn5d">Valor Ejecutado
										<br>
									</th>
								</tr>
								<tr>
									<td class="tg-ucxp">0-19</td>
									<td class="tg-dzk6">{{this.valres[0]}}</td>
									<td class="tg-dzk6">{{this.valresper[0]}} %</td>
									<td class="tg-dzk6">{{(this.mon[0] | currency : 'COP':true).replace('COP','$ ')}}</td>
								</tr>
								<tr>
									<td class="tg-3a3g">20-39</td>
									<td class="tg-baqh">{{this.valres[2]}}</td>
									<td class="tg-baqh">{{this.valresper[1]}} %</td>
									<td class="tg-dzk6">{{(this.mon[1] | currency : 'COP':true).replace('COP','$ ')}}</td>
								</tr>
								<tr>
									<td class="tg-ucxp">40-59
										<br>
									</td>

									<td class="tg-dzk6">{{this.valres[4]}}</td>
									<td class="tg-dzk6">{{this.valresper[2]}} %</td>
									<td class="tg-dzk6">{{(this.mon[2] | currency : 'COP':true).replace('COP','$ ')}}</td>

								</tr>
								<tr>
									<td class="tg-3a3g">60-79
										<br>
									</td>
									<td class="tg-baqh">{{this.valres[6]}}</td>
									<td class="tg-baqh">{{this.valresper[3]}} %</td>
									<td class="tg-dzk6">{{(this.mon[3] | currency : 'COP':true).replace('COP','$ ')}}</td>
								</tr>
								<tr>
									<td class="tg-ucxp">80-99</td>
									<td class="tg-dzk6">{{this.valres[8]}}</td>
									<td class="tg-dzk6">{{this.valresper[4]}} %</td>
									<td class="tg-dzk6">{{(this.mon[4] | currency : 'COP':true).replace('COP','$ ')}}</td>
								</tr>
								<tr>
									<td class="tg-3a3g">100</td>
									<td class="tg-baqh">{{this.valres[10]}}</td>
									<td class="tg-baqh">{{this.valresper[5]}} %</td>
									<td class="tg-dzk6">{{(this.mon[5] | currency : 'COP':true).replace('COP','$ ')}}</td>
								</tr>
								<tr>

									<td class="tg-3a3g" style="text-align: right">Total</td>
									<td class="tg-baqh">{{this.suma}}</td>
									<td class="tg-baqh">{{this.totalp}} %</td>
									<td class="tg-baqh">{{(this.totalm | currency : 'COP':true).replace('COP','$ ')}}</td>
								</tr>
							</table>
						</div>
						<!-- grafica -->
						<br>
						<div style="display: block; height: 500px; width: 500px" class="center-block">
							<canvas style="display: block; height: 500px; width: 500px" baseChart [data]="this.fin_data" [labels]="this.fin_label" [chartType]="doughnutChartType"
							 [colors]="this.fin_col" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
						</div>
						<!-- ................... -->

					</div>
					<!-- ///// -->
					<br>

				</div>

				<!--  Mapa -->
				<div *ngIf="this.serviGloAct.actOpt === 6">
					<mapa [tipo]='this.serviciog.tipos_act[this.serviciog.tipos_act.indexOf(this.serviGloAct.tipo2) - 1 ]'></mapa>
				</div>

				<!-- Categorias - Se Asignan las categorias de los mapas -->
				<div *ngIf="this.serviGloAct.actOpt === 7">
					<categorias></categorias>
				</div>

				<!-- Porcentajes -  Cambian porcentajes a Actividades  -->
				<div *ngIf="this.serviGloAct.actOpt === 8">
					<h1>Porcentajes</h1>
					<hr/>
					<div class="row">
						<div class="col-md-6">
							Mi Porcentaje {{this.miPorcentaje}}
						</div>
						<div class="col-md-6">
							Porcentaje Asignado {{this.porcentajeAsignado}}
						</div>
					</div>
					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="width: 70%">Actividad</th>
									<th style="width: 30%">Porcentaje Asignado</th>
								</tr>
							</thead>
							<tbody *ngIf="!this.serviciog.isSelAct || this.serviciog.isSubActivity === this.serviciog.actividad">
								<tr *ngFor="let activity of this.serviciog.actividades; let i = index">
									<td>{{activity.nom_act}}</td>
									<td>
										<input type="number" class="form-control" min="0" max="100" [(ngModel)]="activity.porcentaje" (change)="valPor(true,i)">
									</td>
								</tr>
							</tbody>
							<tbody *ngIf="this.serviciog.isSelAct && this.serviciog.isSubActivity != this.serviciog.actividad ">
								<tr *ngFor="let subactividad of this.serviGloAct.subActividades; let i = index">
									<td>{{subactividad.nom_act}}</td>
									<td>
										<input type="number" class="form-control" name="val" min="0" max="100" [(ngModel)]="subactividad.porcentaje" (change)="valPor(false,i)">
									</td>
									<td>Subact</td>
								</tr>
							</tbody>
						</table>
					</div>
					<button class="btn btn-success" (click)="sendPercentage()" [disabled]="this.miPorcentaje < 0">Guardar</button>
				</div>

				<!-- Recomendaciones -->
				<div *ngIf="this.serviGloAct.actOpt === 9">
					<app-remarks [tipo_usuario]="this.serviciog.usuario.tipo_usuario" [remarks]="this.serviGloAct.remarks"></app-remarks>
				</div>

				<!--  Observaciones  -->
				<div *ngIf="this.serviGloAct.actOpt === 10">
					<app-observaciones [observaciones]="this.serviGloAct.observaciones" [isTitleSelected]='this.isTitleSelected' [tipo_usuario]="this.serviciog.usuario.tipo_usuario"></app-observaciones>

				</div>

				<!--  Novedades 
					<div *ngIf="this.serviGloAct.actOpt === 11">
						<app-news-component></app-news-component>
					</div>
					 -->
			</div>
		</div>
	</div>
</div>
<div>
	<registro-actividad></registro-actividad>
	<registro-multimedia></registro-multimedia>
</div>
<div id="mod-list-usu" style="margin-top: 50px" class="modal fade" role="dialog">
	<div class="modal-dialog" style="vertical-align: middle;">
		<!-- Modal content-->
		<div class="modal-content" style="background-color: rgb(47,47,47);">
			<div class="modal-body" style="height:auto">

				<div style="margin-top:10px;margin-right:20px">
					<button type="button" class="close" data-dismiss="modal" style="opacity: 1; color: white;">×</button>
				</div>
				<br/>
				<div>
					<div style="display: block; margin: auto;">
						<div class="input-group" style="margin-left: 5%; margin-right: 5%;">
							<input type="text" class="form-control" placeholder="Buscar...">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary" aria-label="Left Align">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
					<br/>
					<ul>
						<div *ngFor="let usuario of this.usuarios" (click)="asignarUsuario(usuario)" style="display: block; height: 100px; width: 90%; margin: auto; background-color: rgb(36,36,36); border:1px solid rgb(87,87,87)"
						 data-dismiss='modal'>
							<div class="row">
								<div class="col-md-3">
									<img src=" assets/img/manprofile.png" style="width: 85px;height: 85px; margin-left: 7px; margin-top: 7px;">
								</div>
								<div class="col-md-9">
									<div style="color: rgb(245,245,245);     text-decoration: underline;   text-transform: uppercase; font-weight: bold;">
										{{usuario.nombre}} {{usuario.apellido}}
									</div>
									<div style="color: rgb(209,209,209);font-style: italic;">
										{{usuario.e_mail}}
									</div>
									<div style="color: rgb(209,209,209);">
										{{usuario.cargo}}
									</div>
								</div>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

