<!-- Modificar para publicar -->
<button style="font-size: 11px" *ngIf="!isMapSelected && !isRepSelected && this.serviciog.usuario.tipo_usuario != 'sup'"
  class="btn-select-map" (click)="btnAddImgMap()">
  Publicar
</button>

<!-- Modificar para seleccionar archivos para reporte -->
<button style="font-size: 11px;" *ngIf="!isMapSelected && !isRepSelected && this.serviciog.usuario.tipo_usuario != 'sup'"
  class="btn-select-rep" (click)="btnAddImgRep()">
  Reporte
</button>

<!-- Agregar un nuevo archivo -->
<!-- <button *ngIf="!isMapSelected && !isRepSelected && 
                this.serviciog.actividad.tipo === 'Actividad'" 
        class="btn-add-img btn-primary" 
        data-toggle="modal" data-target="#mod-reg-mult">
  +
</button> -->

<button *ngIf="!isMapSelected && !isRepSelected && 
this.serviciog.actividad.tipo === 'Actividad' 
&& this.serviciog.actividad.estado !== 'null' 
&& this.serviciog.actividad.estado !== 'Inicio' 
&& this.serviciog.usuario.tipo_usuario === 'sup' 
&& this.serviciog.state_act === true" class="btn-add-img btn-primary" (click)="mostrarModal()">
  +
</button>

<!-- && this.serviciog.actividad.estado === 'Entrega de materiales'  -->
<button *ngIf="!isMapSelected && !isRepSelected && 
this.serviciog.actividad.tipo === 'Beneficiario' 
&& this.serviciog.usuario.tipo_usuario === 'sup' " class="btn-add-img btn-primary" (click)="mostrarModal()">
  +
</button>


<!-- Acepta las modificaciones ya sea para publicar o de reportes -->
<button *ngIf="isMapSelected || isRepSelected" class="btn-ok btn-success" (click)="envioCambios()">
  OK
</button>

<!-- Cancela las modificaciones ya sea para publicar o de reportes -->
<button *ngIf="isMapSelected || isRepSelected" class="btn-cancel btn-danger" (click)="cancelar()">
  CANCEL
</button>




<div style="width: 80%;" class="center-block">

  <!-- <select class="select-mul form-control" name="tipo" [(ngModel)]="this.serviciog.tipo" (change)="cambio($event)">
    <option value="img">Imagenes</option>
    <option value="doc">Documentos</option>
    <option value="sou">Audios</option>
    <option value="vid">Videos</option>
    <option value="oth">Otros</option>
  </select> -->

  <!-- //////////////////////////////////////////////////// -->
  <!-- Bontones marcar y desmarcar -->
  <div *ngIf="isMapSelected || isRepSelected" class="center-block" style="margin-top:10px">
    <button class="btn-success center-block" style="display: inline-block" (click)="selAll()">
      Seleccionar Todo
    </button>
    <button class="btn-danger center-block " style="display: inline-block" (click)="desSelAll()">
      Deseleccionar Todo
    </button>
  </div>
  <!-- boton de filtro -->
  <div class="row" *ngIf="this.serviciog.actividad.tipo != 'Beneficiario' && 
  this.serviciog.actividad.tipo != 'Proyecto' && 
  this.serviciog.actividad.tipo != 'Capitulo' &&
  this.serviciog.actividad.tipo != 'Actividad'
  ">
    <button class="btn btn-warning" (click)="showFilter()">Filtros</button>
  </div>
  <!-- muestra los filtros para archivos  -->
  <div class="row" *ngIf="this.vshowFilter">
    <div class="row" *ngIf="this.serviciog.actividad.tipo === 'Provincia'">
      Municipio:
      <select class="select-mul form-control" name="subAct" [(ngModel)]="this.item" (change)="cambio2()">
        <option *ngFor="let item of this.subActivity" [ngValue]="item">{{item.nom_act}}</option>
      </select>
    </div>
    <div class="row" *ngIf="this.serviciog.actividad.tipo === 'Municipio' || this.flagResg">
      Resguardo:
      <select class="select-mul form-control" name="subAct" [(ngModel)]="this.item2" (change)="cambio3()">
        <option *ngFor="let item of this.subActivity2" [ngValue]="item">{{item.nom_act}}</option>
      </select>
    </div>
    <div class="row" *ngIf="this.serviciog.actividad.tipo === 'Resguardo' || this.flagBene">
      Beneficiario:
      <select class="select-mul form-control" name="subAct" [(ngModel)]="this.item3">
        <option *ngFor="let item of this.subActivity3" [ngValue]="item">{{item.cedula}} {{item.nom_act}}</option>
      </select>
    </div>
    <br>
    <div class="row" *ngIf="this.serviciog.actividad.tipo === 'Resguardo' || this.flagBene">
      <button class="btn btn-success" (click)="getImagen()">Obtener</button>
    </div>
  </div>
  <!-- //////////////////////////////////////////////////// -->

  <!-- Muestra los archivos dependiendo su tipo -->
  <div style="margin-top: 10px">

    <!-- Modal que muestra la imagen ampliada  -->
    <div id="mod-pic-map" class="modal fade" role="dialog" style="height: 105vh">
      <div class="modal-dialog" style="vertical-align: middle;width: 135vh;margin-top: 60px;">
        <!-- Modal content-->
        <div class="modal-content" style="min-height: 87vh;">
          <div class="modal-body" style="height:auto">

            <div style="margin-top:10px;margin-right:20px">
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div style="width:90%" class="center-block">

              <img alt={{this.pic}} class="img-responsive" style="position: relative;margin-top:5%;width:90%;height:90%" src={{this.pic}}>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Imagenes -->
    <div class="row" *ngIf="this.serviciog.tipo === 'img'">
      <h3>Imagenes</h3>
      <div class="col-md-4" *ngFor="let imagen of this.serviciog.imagenes">
        <input type="checkbox" *ngIf="isRepSelected" class="chk" [checked]=imagen.ext (change)="checked(imagen)">
        <input type="checkbox" *ngIf="isMapSelected" class="chk" [checked]=imagen.visible_map (change)="checked(imagen)">
        <!-- <div class="thumbnail box1" [attr.data-title]='imagen.titulo' [attr.data-description]='imagen.descripcion' > -->
        <div >

          <div class="caption thumbnail">

            <div *ngIf="imagen.edit"  style="text-align: left;margin: 2px;height: 200px">
              <img src={{imagen.val_configuracion}}{{imagen.srcServ}}{{imagen.nombre_archivo}} style="position: relative;width: 150px;height: 150px;display: block;margin: auto;margin-top: 3px"
                alt={{imagen.subtitulo}}/>

              <textarea #txtEdit type="text" wrap="soft" maxlength="120" style="font-size: 12px;position: relative;margin-top: 7px;padding: 6px;border: none;
                width: 100%;max-width: 100%;resize: none;min-height:110px;background-color: #e0e1e4c2">{{imagen.titulo}}</textarea>

              <div style="display: inline-block;width: 100%;margin: auto;text-align: center" class="center-block">
                <button class="btn btn-success center-block " (click)="saveEdit(imagen,txtEdit.value)" style="display: inline-block;font-size: 7pt;">Guardar</button>
                <button class="btn btn-danger center-block  " (click)="imagen.edit = !imagen.edit" style="display: inline-block;font-size: 7pt;">Cancelar</button>
              </div>
            </div>

            <div *ngIf="!imagen.edit"  style="height: 520px" >
              <img src={{imagen.val_configuracion}}{{imagen.srcServ}}{{imagen.nombre_archivo}} alt={{imagen.subtitulo}} (click)='this.pic = ""+imagen.val_configuracion+imagen.srcServ+imagen.nombre_archivo; '
                data-toggle="modal" data-target="#mod-pic-map">
              <p style="font-size: 12px">{{imagen.titulo}}</p>
              <p style="font-size: 9px">{{imagen.fecha_creacion | date:'fullDate' | uppercase}}</p>
              <button *ngIf="this.serviciog.usuario.tipo_usuario === 'sup'" title="Eliminar" class="btn btn-danger center-block" (click)="delImage(imagen)">X</button>
              <div style="display: inline-block;width: 100%;margin: auto;text-align: center" class="center-block">
                  <button class="btn btn-success center-block btn-sm" (click)="imagen.edit = !imagen.edit" style="display: inline-block;font-size: 7pt;">Editar</button>
                </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- Documentos -->
    <div class="row" *ngIf="this.serviciog.tipo === 'doc'">
      <h3>Documentos</h3>
      <table class="multHover table table-striped" style="width:90%;margin-left:5%">
        <thead>
          <tr style="position:relative;width:100%">
            <th>#</th>
            <th style="width:20%">Titulo</th>
            <th style="width:65%">Descripción</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor:pointer" *ngFor="let imagen of this.serviciog.imagenes">
            <th scope="row" style="vertical-align:middle">#</th>
            <td style="vertical-align:middle">{{imagen.titulo}}</td>
            <td>{{imagen.subtitulo}}</td>
            <td>
              <button (click)="show(imagen)" class="btn btn-primary" data-toggle="modal" data-target="#mod-sho-mult">Ver</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Audio -->
    <div class="row" *ngIf="this.serviciog.tipo === 'sou'">
      <h3>Audio</h3>
      <table class="multHover table table-striped" style="width:90%;margin-left:5%">
        <thead>
          <tr style="position:relative;width:100%">
            <th>#</th>
            <th style="width:20%">Nombre</th>
            <th style="width:75%">Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor:pointer" *ngFor="let imagen of this.serviciog.imagenes">
            <th scope="row" style="vertical-align:middle">#</th>
            <td style="vertical-align:middle">{{imagen.titulo}}</td>
            <td>{{imagen.subtitulo}}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <!-- Videos -->
    <div class="row" *ngIf="this.serviciog.tipo === 'vid'">
      <h3>Videos</h3>
      <div class="col-xs-12 col-md-4" *ngFor="let imagen of this.serviciog.imagenes">
        <input type="checkbox" *ngIf="isMapSelected" class="chk" [checked]=imagen.isViewMap (change)="checked(imagen)">
        <a class="thumbnail">
          <video controls class="video-js">
            <source src="{{imagen.val_configuracion}}{{imagen.srcServ}}{{imagen.nombre_archivo}}" type='video/mp4' />
          </video>
          <div class="caption">
            <h4>{{imagen.titulo}}</h4>
          </div>
        </a>
      </div>
    </div>

    <!-- Otros -->
    <div class="row" *ngIf="this.serviciog.tipo === 'oth'">
      <h3>Otros Archivos</h3>
    </div>
  </div>

  <!-- <registro-multimedia></registro-multimedia> -->

  <div id="mod-sho-mult" style="margin-top: 50px" class="modal fade" role="dialog">
    <div class="modal-dialog" style="vertical-align: middle;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div style="margin-top:10px;margin-right:20px">
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div>
            <iframe [attr.src]="this.urlShow"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<!--img src={{imagen.url}} alt={{imagen.subtitulo}}
<iframe src="https://docs.google.com/gview?url=http://knower.udenar.edu.co/mp/user2/proyectos/95-1-2/documentos/objetivos95-1-2.docx&embedded=true"></iframe>
[attr.src]="this.urlShow"
-->
<!--<img src="http://knower.udenar.edu.co/imgSTT/95-1-5.jpg" alt={{imagen.subtitulo}}>#167ac6-->