<div class="form-inline form">
  <label class="form-control" for="etapa" class="lab form-inline">Grafica detalle {{this.serviciog.actividad.tipo}} {{this.serviciog.actividad.nom_act}} </label>
  <div style="display: block; height: 500px; width: 700px; margin-top: 5px;margin-left: 70px">
    <div class="center-block">
      <canvas class="center-block" baseChart [data]="this.serviciog.data" [labels]="this.serviciog.labels" [chartType]="this.serviciog.types"
        [colors]="this.serviciog.colors" (chartHover)="this.servicios.chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>